.checkoutMain{
    padding: 0px 10px;

    form{
        padding: 0px;

        .badInput{
            color: red;
            font-size: .8em;
            display: none;
        }
        .formMargin{
            margin-bottom: 12px;
        }
    }

    .cartDiv{
        background-color: white;
        padding: .4em;
        border: solid $orange;
       }
       #confirmItems{
           .checkoutImage{
               width: 50px
           }
       
           .fa-trash-alt{
               color: red;
               font-size: 1.5em;
               
               &:hover{
                   cursor: pointer;
               }
           }
       
       
       }
       
       .buttonStylesSquare{
           @include buttonStylesSquare;
       }
       
       .total{
           margin-right: 12vw;
       }
       
       input{
           margin-bottom: 20px;
       }
       
       select{
           margin-bottom: 20px;
       }
        
}


@media(max-width: 500px){
    .cartPage{
        flex-direction: column-reverse;

        form{
            margin-top: 40px;
            margin-bottom: 15px;

            input{
                width: 100%;
            }
        }

        p{
            margin-top: 40px;
        }
    }
   
}