.checkoutImage{
    width: 50px
}

.fa-trash-alt{
    color: red;
    position: relative;
    top: .25em;
    
    &:hover{
        cursor: pointer;
    }
}

.total{
    margin-right: 12vw;
}

.price{
    width: 15%;
}

@media(max-width: 500px){
    .cartPage{
        flex-direction: column-reverse;

        form{
            margin-top: 40px;
        }

        p{
            margin-top: 40px;
        }
    }
   
}