#confirmItems{
    .checkoutImage{
        width: 50px
    }

    .fa-trash-alt{
        color: red;
        position: relative;
        top: .25em;
        
        &:hover{
            cursor: pointer;
        }
    }

    .price{
        width: 15%;
    }
    

}

.total{
    margin-right: 12vw;
}


@media(max-width: 500px){
    .cartPage{
        flex-direction: column-reverse;

        form{
            margin-top: 40px;
        }

        p{
            margin-top: 40px;
        }
    }
   
}