.cards{

    .item{
        color: black;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    

        &:hover{
            background-color: #8952f938;
        }
       a{
           color: black;
       }
    }
   

   .cardBtn{
    background-image: linear-gradient(to right, $orange, $blue);
    color: white;
    border: none;
   }
}