.productPageHeader{
    border-bottom: black solid 5px;
}

.buttonStyles{
    @include buttonStyles;
}

.popUp{
    display: none;
    
}

.popUpNotRemoved{
    position: relative;
    top: 20vh;
}

.buttonStylesSquare{
    @include buttonStylesSquare;
    
}

.fa-check-circle{
 color: rgb(42, 167, 42)
}

@media (min-width: 500px){
    .productCard{

        img{
            width: 50%;
        }

        h3{
            width: 50%;
        }

        p{
            width: 50%;
        }
        div{
            width: 50%;
        }
    }
}

@media (max-width: 501px){
    .productCard{

        img{
            width: 100%;
        }
        p{
            text-align: center;
        }
    }
}


