.productPageHeader{
    border-bottom: black solid 5px;
}

.buttonStyles{
    @include buttonStyles;
}

@media (min-width: 500px){
    .productCard{

        img{
            width: 50%;
        }

        h3{
            width: 50%;
        }

        p{
            width: 50%;
        }
        div{
            width: 50%;
        }
    }
}

@media (max-width: 501px){
    .productCard{

        img{
            width: 100%;
        }
        p{
            text-align: center;
        }
    }
}


