.productPageHeader{
    border-bottom: black solid 5px;
}

.buttonStyles{
    @include buttonStyles;
}

.popUp{
    display: none;
    
}

.popUpNotRemoved{
    position: relative;
    top: 20vh;
}

.buttonStylesSquare{
    @include buttonStylesSquare;
    
}

.fa-check-circle{
 color: rgb(42, 167, 42)
}