.headr {
  background-image: url(../../back-end/images/background.webp);
  height: 84vh;
}
.headr h1 {
  color: white;
}
.headr .plcHolderText {
  color: white;
  width: 75%;
}
@media (max-width: 550px) {
  .headr .plcHolderText {
    width: 95%;
  }
}
.headr .seeProducts {
  background-color: #e9ecef;
  color: black;
  border: none;
}
.headr .buttonStyles {
  background-color: #8952f9;
  border: none;
  padding: 10px 15px;
  border-radius: 5vw;
  margin-top: 0px;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
}
.headr .buttonStyles:hover {
  opacity: 0.8;
}

.indexPageHeader {
  border-bottom: black solid 5px;
}

@media (max-width: 500px) {
  .orinoco {
    width: 175px;
  }
}
@media (min-width: 501px) {
  .orinoco {
    width: 225px;
  }
}
@media (min-width: 1000px) {
  .orinoco {
    width: 325px;
  }
}

.badge {
  font-size: 25px;
  background: white;
  color: #8952f9;
  padding: 5px 10px;
  vertical-align: top;
  margin-left: -15px;
  border-radius: 30px;
}

.fa-shopping-cart {
  color: #8952f9;
}

body {
  background-color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.cards .item {
  color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cards .item:hover {
  background-color: #8952f938;
}
.cards .item a {
  color: black;
}
.cards .cardBtn {
  background-image: linear-gradient(to right, #d68040, #8952f9);
  color: white;
  border: none;
}

footer {
  background-color: #494949;
  color: white;
}

@media (max-width: 700px) {
  .foot {
    flex-direction: column;
    justify-content: start;
  }
}
@media (min-width: 701px) {
  .foot {
    flex-direction: row;
  }
}
.pageContainer {
  position: relative;
  min-height: 100vh;
}
.pageContainer .contentWrap {
  padding-bottom: 8rem;
}
.pageContainer .productPageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
}

.productPageHeader {
  border-bottom: black solid 5px;
}

.itemAdded {
  transform: translateY(-500px);
}

.animateBox {
  transform: translateY(0px);
  transition-delay: 1000ms;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.buttonStyles {
  background-color: #8952f9;
  border: none;
  padding: 10px 15px;
  border-radius: 5vw;
  margin-top: 0px;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
}
.buttonStyles:hover {
  opacity: 0.8;
}

@media (min-width: 1101px) {
  main {
    height: 100%;
    margin-top: 6vh;
  }
  main .productCard img {
    width: 80vh;
  }
  main .productCard h3 {
    width: 80vh;
  }
  main .productCard p {
    width: 80vh;
  }
  main .productCard div {
    width: 80vh;
  }
}
@media (max-width: 1100px) {
  main {
    height: 100%;
    margin-top: 6vh;
  }
  main .productCard img {
    margin-top: 5vh;
    width: 70vw;
  }
  main .productCard h3 {
    width: 70vw;
  }
  main .productCard p {
    width: 70vw;
  }
  main .productCard div {
    width: 70vw;
  }
}
@media (max-width: 501px) {
  .productCard img {
    width: 100%;
  }
  .productCard p {
    text-align: center;
  }
}
#confirmItems .checkoutImage {
  width: 50px;
}
#confirmItems .fa-trash-alt {
  color: red;
  position: relative;
  top: 0.25em;
}
#confirmItems .fa-trash-alt:hover {
  cursor: pointer;
}
#confirmItems .price {
  width: 15%;
}

.buttonStylesSquare {
  background-color: #8952f9;
  border: none;
  padding: 10px 15px;
  margin-top: 0px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-right: 6vw;
}
.buttonStylesSquare:hover {
  opacity: 0.8;
}

.total {
  margin-right: 12vw;
}

@media (max-width: 500px) {
  .cartPage {
    flex-direction: column-reverse;
  }
  .cartPage form {
    margin-top: 40px;
  }
  .cartPage p {
    margin-top: 40px;
  }
}
.confirmationMain {
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */