@mixin buttonStyles{
    //background-image: linear-gradient(to right, $orange, $blue);
    background-color: $blue;
    border: none;
    padding: 10px 15px;
    border-radius: 5vw;
    margin-top: 0px;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}

@mixin buttonStylesSquare{
   // background-image: linear-gradient(to right, $orange, $blue);
   background-color: $blue;
    border: none;
    padding: 10px 15px;
    margin-top: 0px;
    color: white;
    font-weight: 600;
    //font-size: 1.5em;
    cursor: pointer;
    margin-right: 6vw;

    &:hover{
        opacity: .8;
    }
}